.sticky-nav {
  position: sticky;
  top: 0;
  background-color: rgba(247, 247, 247, 0.8);
  z-index: 1000; /* Ensure it's above other content */
  padding-block: 16px;
  backdrop-filter: blur(10px);
}
